div {
    padding: 15px;
}
#first {
    border: dotted blue;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
#second {
    border: dashed 1.8px red;
    border-radius: 10px;
}
#third {
    border: solid 2px green;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
}