{{> header}}
<section id="viewWelcome">
    <div class="welcome">
        <div class="signup">
            {{> loginForm}}
            {{> registerForm}}
        </div>
        <div class="about">
            {{> about}}
        </div>
    </div>
</section>

{{> footer}}
