<form id="commentForm" method="POST" action="#/posts/{{postId}}/comments">
    <label>Comment</label>
    <textarea name="content" type="text"></textarea>
    <input type="submit" value="Add Comment" id="btnPostComment">
</form>