<div class="container">
    {{> header}}
    <div id="book" class="box-large">
        <div id="list">
            <h1>Contacts</h1>
            <div class="content">
                {{#each contacts}}
                    {{> contact}}
                {{else}}
                    <div>No contacts yet</div>
                {{/each}}
            </div>
        </div>
        <div id="details">
            {{> details}}
        </div>
    </div>
    {{> footer}}
</div>